
<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container px-4">
          <a class="navbar-brand" href="#page-top">TAI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link"><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
                    Ayuda </button></a></li>
              </ul>
          </div>
      </div>
  </nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Ayuda</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                Aqui instrucciones del Test TAI
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Test TAI -->

<!-- FASE 0-->
  <section class="bg-primary bg-secondary text-white" [hidden]="ifase != 0">
    <div class="container px-4 text-center">    
      <div class="row">
        <div class="col-sm-12 my-2 bg-secondary">
          <h2>Instruciones</h2>
          <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
            despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
            tanto imagenes como palabras
          </p>
        </div>
      </div>
    </div>
  </section>

<!-- FASE 1-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 1">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las imagenes de la categoria {{tai.imagen1}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary" *ngFor="let imagen of imagenes1; let i = index">
        <img class="card-img" src={{getUrl(imagen)}} alt={{imagen.name}}>
      </div>
    </div>

  </div>
</section>

<!-- FASE 2-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 2">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las imagenes de la categoria {{tai.imagen2}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary" *ngFor="let imagen of imagenes2; let i = index">
        <img class="card-img" src={{getUrl(imagen)}} alt={{imagen.name}}>
      </div>
    </div>

  </div>
</section>


<!-- FASE 3-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 3">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las palabras de la categoria {{tai.palabra1}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary" *ngFor="let palabra of palabras1; let i = index">
        <h2>{{palabra.name}}</h2>
      </div>
    </div>

  </div>
</section>

<!-- FASE 4-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 4">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las palabras de la categoria {{tai.palabra2}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary" *ngFor="let palabra of palabras2; let i = index">
        <h2>{{palabra.name}}</h2>
      </div>
    </div>

  </div>
</section>

<!--Instrucciones cartegorizar Imagenes-->
<!-- FASE 5-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 5">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <p>Clasificar con F</p>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <p>Clasificar con J</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
          despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
          tanto imagens como palabras
        </p>
      </div>
    </div>
  </div>
</section>


<!--cartegorizar Imagenes-->
<!-- FASE 6-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 6">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
      </div>
      <div *ngIf="timeLeft == 0" class="offset-3 col-sm-6 my-2 bg-secondary">
        <img class="card-img" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
      </div>
    </div>
  </div>
</section>

<!--Instrucciones cartegorizar palabras-->
<!-- FASE 7-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 7">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.palabra1}}</h2>
        <p>Clasificar con F</p>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.palabra2}}</h2>
        <p>Clasificar con J</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
          despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
          tanto imagens como palabras
        </p>
      </div>
    </div>
  </div>
</section>

<!--cartegorizar Palabras-->
<!-- FASE 8-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 8">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.palabra2}}</h2>
      </div>

      <div *ngIf="timeLeft == 0" class="col-sm-12 my-2 bg-secondary">
        <h2>{{conceptTest.name}}</h2>
      </div>

    </div>
  </div>
</section>

<!--Instrucciones test 1-->
<!-- FASE 9-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 9">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
          despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
          tanto imagens como palabras
        </p>
      </div>
    </div>
  </div>
</section>

<!--Instrucciones test 1-->
<!-- FASE 11-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 11">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
          despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
          tanto imagens como palabras
        </p>
      </div>
    </div>
  </div>
</section>

<!--Test 1-->
<!-- FASE 10 y 12-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 10 && ifase != 12">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
      <div *ngIf="timeLeft == 0">
        <div *ngIf="conceptTest.status == 'Palabra1' || conceptTest.status == 'Palabra2'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="col-sm-12 my-2 bg-secondary">
            <h2>{{conceptTest.name}}</h2>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="offset-3 col-sm-6 my-2 bg-secondary">
            <img class="card-img" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>



<!-- istruccions cambio de imagenes -->
<!--Instrucciones cartegorizar Imagenes-->
<!-- FASE 13-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 13">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
          despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
          tanto imagens como palabras
        </p>
      </div>
    </div>
  </div>
</section>

<!--cartegorizar Imagenes-->
<!-- FASE 14-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 14">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
      </div>
      <div *ngIf="timeLeft == 0" class="offset-3 col-sm-6 my-2 bg-secondary">
        <img class="card-img" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
      </div>
    </div>
  </div>
</section>

<!--Instrucciones reconocimieto 2-->
<!-- FASE 15-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 15">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
          despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
          tanto imagens como palabras
        </p>
      </div>
    </div>
  </div>
</section>

<!--Instrucciones test 2-->
<!-- FASE 17-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 17">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
          despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
          tanto imagens como palabras
        </p>
      </div>
    </div>
  </div>
</section>


<!--test 2-->
<!-- FASE 16 y 18-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 16 && ifase != 18">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
      <div *ngIf="timeLeft == 0">
        <div *ngIf="conceptTest.status == 'Palabra1' || conceptTest.status == 'Palabra2'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="col-sm-12 my-2 bg-secondary">
            <h2>{{conceptTest.name}}</h2>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="offset-3 col-sm-6 my-2 bg-secondary">
            <img class="card-img" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
</body>