
<body class="bg-primary bg-secondary">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Ayuda</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                Aqui instrucciones del Test TAI
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Test TAI -->

<!-- FASE 0-->
  <section class="bg-primary bg-secondary text-white" [hidden]="ifase != 0">
    <div class="container px-4 text-center">    
      <div class="row">
        <div class="col-sm-12 my-2 bg-secondary">
          <h2>Instruciones</h2>
          <p>Usted va a realizar un test de asoción implícita, este test consiste en realizar tareas de clasisficación
            de imagenes y palabras lo más rápido posible, esta clasisficacion si realizara mediaante el uso de las teclas
            F y J, Si la imagen o la palabra que pretende clasificar se pertenece a la categoria que se presente a la 
            a la izquierda, se calsificara con la tecla F, en el caso en el que pertenezga a la catigoria que se presente a
            a la derecha su clasificacion será con la tecla J.
          </p>
        </div>
      </div>
    </div>
  </section>

<!-- FASE 1-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 1">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las imagenes de la categoria {{tai.imagen1}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary" *ngFor="let imagen of imagenes1; let i = index">
        <img class="card-img" src={{getUrl(imagen)}} alt={{imagen.name}}>
      </div>
    </div>

  </div>
</section>

<!-- FASE 2-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 2">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las imagenes de la categoria {{tai.imagen2}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary" *ngFor="let imagen of imagenes2; let i = index">
        <img class="card-img" src={{getUrl(imagen)}} alt={{imagen.name}}>
      </div>
    </div>

  </div>
</section>


<!-- FASE 3-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 3">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las palabras de la categoria {{tai.palabra1}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary" *ngFor="let palabra of palabras1; let i = index">
        <h2>{{palabra.name}}</h2>
      </div>
    </div>

  </div>
</section>

<!-- FASE 4-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 4">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las palabras de la categoria {{tai.palabra2}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary" *ngFor="let palabra of palabras2; let i = index">
        <h2>{{palabra.name}}</h2>
      </div>
    </div>

  </div>
</section>

<!--Instrucciones cartegorizar Imagenes-->
<!-- FASE 5-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 5">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <p>Clasificar con F</p>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <p>Clasificar con J</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el teclado sobre las tecla F y J, acontinuación se le mostrará una imagen de la categoría 
          {{tai.imagen1}} o {{tai.imagen2}}, trate de clasificarla lo mas rápido posible sin equivocarse, si se equivocarse 
          se la marcará en rojo y tengra que clasificarla correctamente. Despues aparecerar otra imagen. En caso de no superar esta
          fase tendrá que repetirla.
        </p>
      </div>
    </div>
  </div>
</section>


<!--cartegorizar Imagenes-->
<!-- FASE 6-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 6">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
      </div>
      <div *ngIf="timeLeft == 0 && !error" class="offset-3 col-sm-6 my-2 bg-secondary">
        <img class="card-img concepImg" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
      </div>
      <div *ngIf="timeLeft == 0 && error" class="offset-3 col-sm-6 my-2 bg-secondary border border-danger border-5">
        <img class="card-img concepImg" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
      </div>
    </div>
  </div>
</section>

<!--Instrucciones cartegorizar palabras-->
<!-- FASE 7-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 7">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.palabra1}}</h2>
        <p>Clasificar con F</p>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.palabra2}}</h2>
        <p>Clasificar con J</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el teclado sobre las tecla F y J, acontinuación se le mostrará una palabra de la categoría
          {{tai.palabra1}} o {{tai.palabra2}}, trate de clasificarla lo mas rápido posible sin equivocarse, si se equivocarse
          se la marcará en rojo y tengra que clasificarla correctamente. Despues aparecerar otra imagen. En caso de no superar
          esta fase tendrá que repetirla.
        </p>
      </div>
    </div>
  </div>
</section>

<!--cartegorizar Palabras-->
<!-- FASE 8-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 8">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.palabra2}}</h2>
      </div>

      <div *ngIf="timeLeft == 0 && !error" class="col-sm-12 my-2 bg-secondary">
        <h2>{{conceptTest.name}}</h2>
      </div>
      <div *ngIf="timeLeft == 0 && error" class="col-sm-12 my-2 bg-secondary">
        <h2 class="text-danger">{{conceptTest.name}}</h2>
      </div>

    </div>
  </div>
</section>

<!--Instrucciones test 1-->
<!-- FASE 9-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 9">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra1}}</h2>
        <p>Clasificar con F</p>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra2}}</h2>
        <p>Clasificar con J</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Acontinicaón se mostrara o una palabra de las categorias {{tai.palabra1}}, {{tai.palabra2}} o una imagen
          de las categorias {{tai.imagen1}}, {{tai.imagen2}}. Si aparece una imagen de la categoria {{tai.palabra1}}
          o de {{tai.imagen1}} clasifiquela con la F. Si aparece una imagen de la categoria {{tai.palabra2}}
          o de {{tai.imagen2}} clasifiquela con la J.
        </p>
      </div>
    </div>
  </div>
</section>

<!--Instrucciones test 1-->
<!-- FASE 11-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 11">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra1}}</h2>
        <p>Clasificar con F</p>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra2}}</h2>
        <p>Clasificar con J</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Acontinicaón se mostrara o una palabra de las categorias {{tai.palabra1}}, {{tai.palabra2}} o una imagen
          de las categorias {{tai.imagen1}}, {{tai.imagen2}}. Si aparece una imagen de la categoria {{tai.palabra1}}
          o de {{tai.imagen1}} clasifiquela con la F. Si aparece una imagen de la categoria {{tai.palabra2}}
          o de {{tai.imagen2}} clasifiquela con la J.
        </p>
      </div>
    </div>
  </div>
</section>

<!--Test 1-->
<!-- FASE 10 y 12-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 10 && ifase != 12">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
      <div *ngIf="timeLeft == 0 && !error">
        <div *ngIf="conceptTest.status == 'Palabra1' || conceptTest.status == 'Palabra2'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="col-sm-12 my-2 bg-secondary">
            <h2>{{conceptTest.name}}</h2>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="offset-3 col-sm-6 my-2 bg-secondary">
            <img class="card-img concepImg" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
          </div>
        </ng-template>
      </div>
      <div *ngIf="timeLeft == 0 && error">
        <div *ngIf="conceptTest.status == 'Palabra1' || conceptTest.status == 'Palabra2'; then thenBlock else elseBlock">
        </div>
        <ng-template #thenBlock>
          <div class="col-sm-12 my-2 bg-secondary">
            <h2 class="text-danger">{{conceptTest.name}}</h2>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="offset-3 col-sm-6 my-2 bg-secondary border border-danger border-5">
            <img class="card-img concepImg" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>



<!-- istruccions cambio de imagenes -->
<!--Instrucciones cartegorizar Imagenes-->
<!-- FASE 13-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 13">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <p>Clasificar con F</p>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <p>Clasificar con J</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Mantenga las menos en el teclado sobre las tecla F y J, acontinuación se le mostrará una imagen de la categoría
          {{tai.imagen1}} o {{tai.imagen2}}, trate de clasificarla lo mas rápido posible sin equivocarse, si se equivocarse
          se la marcará en rojo y tengra que clasificarla correctamente. Despues aparecerar otra imagen. En caso de no superar
          esta fase tendrá que repetirla.
        </p>
      </div>
    </div>
  </div>
</section>

<!--cartegorizar Imagenes-->
<!-- FASE 14-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 14">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
      </div>
      <div *ngIf="timeLeft == 0 && !error" class="offset-3 col-sm-6 my-2 bg-secondary">
        <img class="card-img concepImg" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
      </div>
      <div *ngIf="timeLeft == 0 && error" class="offset-3 col-sm-6 my-2 bg-secondary border border-danger border-5">
        <img class="card-img concepImg" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
      </div>
    </div>
  </div>
</section>

<!--Instrucciones reconocimieto 2-->
<!-- FASE 15-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 15">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Acontinicaón se mostrara o una palabra de las categorias {{tai.palabra1}}, {{tai.palabra2}} o una imagen
          de las categorias {{tai.imagen1}}, {{tai.imagen2}}. Si aparece una imagen de la categoria {{tai.palabra1}}
          o de {{tai.imagen2}} clasifiquela con la F. Si aparece una imagen de la categoria {{tai.palabra2}}
          o de {{tai.imagen1}} clasifiquela con la J.
        </p>
      </div>
    </div>
  </div>
</section>

<!--Instrucciones test 2-->
<!-- FASE 17-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 17">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Instruciones</h2>
        <p>Acontinicaón se mostrara o una palabra de las categorias {{tai.palabra1}}, {{tai.palabra2}} o una imagen
          de las categorias {{tai.imagen1}}, {{tai.imagen2}}. Si aparece una imagen de la categoria {{tai.palabra1}}
          o de {{tai.imagen2}} clasifiquela con la F. Si aparece una imagen de la categoria {{tai.palabra2}}
          o de {{tai.imagen1}} clasifiquela con la J.
        </p>
      </div>
    </div>
  </div>
</section>


<!--test 2-->
<!-- FASE 16 y 18-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 16 && ifase != 18">
  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen2}}</h2>
        <h2>{{tai.palabra1}}</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>{{tai.imagen1}}</h2>
        <h2>{{tai.palabra2}}</h2>
      </div>
      <div *ngIf="timeLeft == 0 && !error">
        <div
          *ngIf="conceptTest.status == 'Palabra1' || conceptTest.status == 'Palabra2'; then thenBlock else elseBlock">
        </div>
        <ng-template #thenBlock>
          <div class="col-sm-12 my-2 bg-secondary">
            <h2>{{conceptTest.name}}</h2>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="offset-3 col-sm-6 my-2 bg-secondary">
            <img class="card-img concepImg" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
          </div>
        </ng-template>
      </div>
      <div *ngIf="timeLeft == 0 && error">
        <div
          *ngIf="conceptTest.status == 'Palabra1' || conceptTest.status == 'Palabra2'; then thenBlock else elseBlock">
        </div>
        <ng-template #thenBlock>
          <div class="col-sm-12 my-2 bg-secondary">
            <h2 class="text-danger">{{conceptTest.name}}</h2>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="offset-3 col-sm-6 my-2 bg-secondary border border-danger border-5">
            <img class="card-img concepImg" src={{getUrl(conceptTest)}} alt={{conceptTest.name}}>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>

  <section class="bg-primary bg-secondary text-white" [hidden]="ifase != 19">
    <div class="container px-4 text-center">
      <div class="row">
        <div class="col-sm-12 my-2 bg-secondary">
          <h2>Enviando resultados</h2>
        </div>
      </div>
    </div>
  </section>
</body>