
<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container px-4">
          <a class="navbar-brand" href="#page-top">TAI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link"><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
                    Ayuda </button></a></li>
              </ul>
          </div>
      </div>
  </nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Ayuda</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                Aqui instrucciones del Test TAI
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Test TAI -->

<!-- FASE 1-->
  <section class="bg-primary bg-secondary text-white" [hidden]="ifase != 0">
    <div class="container px-4 text-center">    
      <div class="row">
        <div class="col-sm-12 my-2 bg-secondary">
          <h2>Instruciones</h2>
          <p>Mantenga las menos en el telado sobre las tecla F y J ina serie de impagens que tendré que clasificar
            despues en lugar de impagenes clasificará palabras, finarlmete se le solicitara que clasifique
            tanto imagens como palabras
          </p>
        </div>
      </div>
    </div>
  </section>

<!-- FASE 2-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 1">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las imagenes de la categoria [$CocaCola]</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary">
        <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Coca-Cola_bottle_cap.svg/2048px-Coca-Cola_bottle_cap.svg.png" alt="CocaCola">
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Coca-Cola_bottle_cap.svg/2048px-Coca-Cola_bottle_cap.svg.png" alt="CocaCola">
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Coca-Cola_bottle_cap.svg/2048px-Coca-Cola_bottle_cap.svg.png" alt="CocaCola">
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Coca-Cola_bottle_cap.svg/2048px-Coca-Cola_bottle_cap.svg.png" alt="CocaCola">
      </div>
    </div>

  </div>
</section>

<!-- FASE 3-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 2">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las imagenes de la categoria [$Pepsi]</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary">
        <img class="card-img" src="https://senorcreativo.com/wp-content/uploads/2008/12/pepsi-historia-logotipo-1482x635.png" alt="Pepsi">
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <img class="card-img" src="https://senorcreativo.com/wp-content/uploads/2008/12/pepsi-historia-logotipo-1482x635.png" alt="Pepsi">
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <img class="card-img" src="https://senorcreativo.com/wp-content/uploads/2008/12/pepsi-historia-logotipo-1482x635.png" alt="Pepsi">
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <img class="card-img" src="https://senorcreativo.com/wp-content/uploads/2008/12/pepsi-historia-logotipo-1482x635.png" alt="Pepsi">
      </div>
    </div>

  </div>
</section>


<!-- FASE 4-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 3">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las palabras de la categoria [$Positiva]</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary">
        <h2>Barata</h2>
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <h2>Rica</h2>
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <h2>Refrescante</h2>
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <h2>Estimulante</h2>
      </div>
    </div>

  </div>
</section>

<!-- FASE 5-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 4">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Estas son las palabras de la categoria [$Negativa]</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 my-2 bg-secondary">
        <h2>Cara</h2>
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <h2>Insipida</h2>
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <h2>Desagradable</h2>
      </div>
      <div class="col-sm-4 my-2 bg-secondary">
        <h2>Mala</h2>
      </div>
    </div>

  </div>
</section>


<!--cartegorizar Imagenes-->
<!-- FASE 6-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 5">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>CocaCola</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>Pepsi</h2>
      </div>
      <div class="offset-3 col-sm-6 my-2 bg-secondary">
        <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Coca-Cola_bottle_cap.svg/2048px-Coca-Cola_bottle_cap.svg.png" alt="CocaCola">
      </div>
    </div>
  </div>
</section>

<!--cartegorizar Palabras-->
<!-- FASE 7-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 6">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>Positiva</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>Negativa</h2>
      </div>

      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Mala</h2>
      </div>

    </div>
  </div>
</section>

<!--Test 1-->
<!-- FASE 8-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 7">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>Pepsi</h2>
        <h2>Positiva</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>CocaCola</h2>
        <h2>Negativa</h2>
      </div>
      <!--
      <div class="col-sm-12 my-2 bg-secondary">
        <h2>Mala</h2>
      </div>
      -->
      <div class="offset-3 col-sm-6 my-2 bg-secondary">
        <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Coca-Cola_bottle_cap.svg/2048px-Coca-Cola_bottle_cap.svg.png" alt="CocaCola">
      </div>
    </div>
  </div>
</section>

<!--Test 2-->
<!-- FASE 9-->
<section class="bg-primary bg-secondary text-white" [hidden]="ifase != 8">
  <div class="container px-4 text-center">    
    <div class="row">
      <div class="col-sm-6 bg-secondary">
        <h2>CocaCola</h2>
        <h2>Positiva</h2>
      </div>
      <div class="col-sm-6 bg-secondary">
        <h2>Pepsi</h2>
        <h2>Negativa</h2>
      </div>

      <div class="col-sm-12 my-2 bg-secondary">
        <h2>mala</h2>
      </div>

    </div>
  </div>
</section>




</body>