<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Este histograma muestra la diferencia del tiempo de respuesta para cada una de las asociaciones
    </p>
</figure>

<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <li>Tiempo de respuesta medio del test 1: {{this.resultado.mb4}}</li>
                <li>Tiempo de respuesta medio del test 2: {{this.resultado.mb7}}</li>
                <li>Diferencia tiempos de respuesta: {{this.resultado.diff74}}</li>
                <li>D Score: {{this.resultado.dscore47}}</li>
                <li>Tiempo de respuesta medio global: {{this.media}}</li>
            </ul>
        </div>
    </div>
</div>