<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Chart showing how Highcharts can automatically compute a histogram from
        source data. In this chart, the source data is also displayed as a
        scatter plot.
    </p>
</figure>

<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <li>Tiempo de respuesta medio del test 1: {{this.resultado.mb4}}</li>
                <li>Tiempo de respuesta medio del test 2: {{this.resultado.mb7}}</li>
                <li>Diferencia tiempos de respuesta: {{this.resultado.diff74}}</li>
                <li>D Score: {{this.resultado.dscore47}}</li>
            </ul>
        </div>
    </div>
</div>