<div class="container">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <div class="container py-5">
          <div class="row row mb-4">

            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Code</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody *ngFor="let tai of tais; let i = index">
                <tr>
                  <td>{{tai.id}}</td>
                  <td>{{tai.name}}</td>
                  <td>{{tai.code}}</td>
                  <td><a id="editButton" class="btn btn-warning mb-2 btn-block"
                      [routerLink]="['/tai/test']">Ver</a></td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary" [routerLink]="['/tai/new']"> Nuevo </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>